.App {
  text-align: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  padding: 4rem;
  margin: 2rem;
}

.columnLeft {
  flex: 1;
  margin-right: 3rem; /* Space between the left and right columns */
}

.columnRight {
  flex: 0 0 400px;  /* This makes sure the right column doesn't stretch */
  background-color: #f0f0f0;  /* Optional: adds background color */
  padding: 3rem;
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
