/* topnav */

.topnav {
  background-color: #61dafb;
  margin-bottom: '1rem';
}

/* home page */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  padding: 4rem;
  margin: 2rem;
}

.columnLeft {
  flex: 1;
  margin-right: 3rem; /* Space between the left and right columns */
}

.columnLeft h1 {
  margin: 0;
}

.columnRight {
  flex: 0 0 400px;  /* This makes sure the right column doesn't stretch */
  padding: 3rem;
}

.grid_container {
  display: grid;
  grid-template-columns: 1 1;
  grid-template-rows: 1 1 1;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Welcome Page */
a {
  color:black;
  margin: 10px;
}

menu {
  margin:auto;
}

menu a {
  margin: 10px;
}