/* topnav */

.topnav {
  background-color: #bbaaff;
  margin: 1rem;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* home page */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  padding: 4rem;
  margin: 2rem;
}

.columnLeft {
  flex: 1;
  margin-right: 3rem; /* Space between the left and right columns */
}

.columnLeft h1 {
  margin: 0;
}

.columnRight {
  flex: 0 0 400px;  /* This makes sure the right column doesn't stretch */
  padding: 3rem;
}

.grid_container {
  display: grid;
  grid-template-columns: 1 1;
  grid-template-rows: 1 1 1;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Welcome Page */

.menu a {
  display: block;
  background-color: #bbaaff;
  color: white;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem 0;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu a:hover {
  background-color: #aa88ff;
}

/* Record Page Calendar */

.calendar {
  max-width: 80%;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 1rem;
}

.header button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  cursor: pointer;
}

.header button:hover {
  background-color: #0056b3;
}

.header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.header-row {
  background: #f0f0f0;
  font-weight: bold;
}

/* each cell */
.day-cell {
  padding: 0.75rem 0;
  border: 1px solid #eee;
  min-height: 50px;

  display: grid;
  grid-template-rows: auto auto;
}

.day-cell button {
  margin-left: 20%;
  margin-right: 20%;

  grid-row: 2;
}